# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# -----------------------------
# Environment Variables (IMPORTANT)
# -----------------------------
.env

# -----------------------------
# Data Files
# -----------------------------
data/*.csv
data/*.json

# (optional: keep folder but ignore files)
!data/.gitkeep

# -----------------------------
# Model Files
# -----------------------------
model/*.pkl

# -----------------------------
# Logs / Temp
# -----------------------------
*.log
*.tmp

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/